{{ define "main" }}
<section class="services-title-row">
  <p>Services</p>
</section>

<section class="services-intro">
  <p> Our services are available in a package or a la carte to offer maximum flexibility. Please note that we are ready and willing
    to tweak our offerings to meet individual student needs. We started EssayCraft because we love working with students, so 
    we want to make sure the process is as easy and tailored as possible. Please reach out to us
    <a href="mailto:inquiries@theessayadvisory.com" class="email-link">here</a> with questions or to
    request further information. We look forward to hearing from you!
  </p>
  </section>


<section class="services-offering-row">  
  <h1>Full Developmental Package</h1>
  <p>The Developmental Package is a comprehensive three step process designed to guide you from initial ideas to a strong, fully polished essay. 
  It includes a (40) minute conversation to get to know you as a person and applicant, followed by two remote edits&mdash; a developmental edit 
  to refine and encourage the most compelling ideas in your essay, and a polish edit to ensure clarity and flow. </p>
  
  <div class="services-button-container">
    <a href="https://forms.gle/YOUR_GOOGLE_FORM_ID" target="_blank" class="services-button">EMAIL US</a>
  </div>

  <h1>Remote Editing:</h1>
  <p>We offer remote reading, editing, and analysis of personal statements, supplemental materials, 
    and scholarship essays. You will receive detailed line edits and feedback throughout
    your essay, with a focus on messaging, clarity, structure, and style. We will also provide a broader review 
    that summarizes our feedback, assesses the overall strength of the essay,
    and outlines clear next steps to guide you through the revision process. Essays are submitted at the link provided
    and returned with edits within five (5) business days.  </p>
  
    <div class="services-button-container">
      <a href="https://tally.so/r/nP4p40" target="_blank" class="services-button">SUBMIT AN ESSAY</a>
    </div>

  <h1> Remote Consultations:</h1>
  <p> Remote consultations are available via phone or Zoom and are tailored to each student’s individual needs.
     Whether you've already received written feedback and want to talk through revisions together, or you're just 
     getting started and need help brainstorming or outlining, we will meet you wherever you are in the process. To 
     schedule a consultation, please follow the link provided.
  </p>

  <div class="services-button-container">
    <a href="https://tally.so/r/3lg6Y5" target="_blank" class="services-button">SCHEDULE A MEETING</a>
  </div>

</section>


<section class="services-pricing-row">
  <h1>Pricing</h1>
  <p>Developmental Package: <strong>$275</strong></p>
  <p>Single remote edit: <strong>$125</strong> per essay</p>
  <p>Supplemental essays: <strong> $250</strong> per school</p>
  <p>Remote consultation: <strong>$75</strong> per 30 min</p>
  <p>Note: We offer reduced rates on a case-by-case basis for students with demonstrated financial need.
    If cost is a barrier, please don’t hesitate to reach out. We are committed to making sure every 
    student has the opportunity to receive support.</p>
</section>


{{ end }}
