/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 */

/* Fonts */
:root{
  /* --title-font: "Heliotrope", sans-serif; */
  --title-font: 'Playfair Display', serif;
  --body-font: sans-serif;
  font-size: 100%;
}
:root {
  --page-width: 65rem;
  --white: white
}
/* body font */
body {
  font-family: var(--body-font);
}
/*  colors and styling */
body {
  background-color: white;
}
header, footer {
  background: white;
  color: black;
}
/* begin grid layout */
body {   
  color: black;
  display: grid ;
  row-gap: 2rem;
  grid-template-columns: 
      1fr 
      [content-start] minmax(0pt, var(--page-width)) [content-end] 
      1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  margin: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5rem;
  height: min-content;
}

header, body > main, footer {
  grid-column: content;
  min-width: 0.0rem;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 2rem;
  grid-column: content-start / content-end;
}

.site-title-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 50%;
}
.site-title {
  font-size: 2.3rem;
  font-style: italic;
  margin: 0;
  font-family: var(--title-font);
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding-bottom: 0.3125rem;
  border-bottom: 2.2px dashed rgb(180 4 34);
  letter-spacing: .1em;
}

/* MOBILE SITE TITLE */

@media (max-width: 771px) {

  .site-header {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: none;
    }

  .site-title-block {
    align-items: center;
    justify-content: center;
    max-width: none;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    margin: 0
  }

  .site-title {
    font-size: 1.91rem !important; 
    margin: .5em
  }
}

/* IPAD Optimization */

@media (min-width: 500px) and (max-width: 770px){
  .site-title{
    font-size: 2.3rem !important;
  }
}

@media (min-width: 771px) and (max-width: 1100px){
  .site-header {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: none;
    }

  .site-title-block {
    align-items: center;
    justify-content: center;
    max-width: none;
    width: 100%;
    text-align: left;
    padding-top: 1rem;
    margin: 0
  }

  .site-title {
    font-size: 2.5rem !important; 
    margin: .5em
  }

}

/* DESKTOP NAV */

.main-nav {
  flex-shrink: 0;
}
.main-nav ul {
  display: flex;
  list-style: none;
  font-family: var(--title-font);
  font-weight: 50;
  margin-bottom: 0.625rem;
  padding-top: 0.3125rem;
  gap: 1.6rem;
  letter-spacing: 0.08625rem;
}

.main-nav li {
  display: inline-block;
}

a {
  position: relative;
  text-decoration: none;
  color: rgb(101, 99, 99);
  font-size: .9rem;
  padding: 0.5rem;
  transition: color 0.3s ease;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  width: 100%;
  height: 0.0625rem;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
a:hover::after,
a:focus::after {
  transform: scaleX(1);
}

/* MOBILE NAV */

@media (max-width: 771px) {
  .desktop-menu {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

/* MENU button */
.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--title-font);
  color: rgb(66, 64, 64);
  padding-bottom: .5rem;
  margin-top: 0rem;
  cursor: pointer;
  text-align: center;
}

/* Mobile nav container */
.mobile-nav-wrapper {
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid grey;
  width: 100%
}

/* Mobile nav (initially hidden with 0 height) */
.mobile-nav {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  /* border-bottom: 1px solid #8f8c8c; */
  text-align: center;
  padding: 0 2rem;
}

.mobile-nav.show {
  max-height: 500px;
}

.mobile-nav a {
  padding: 0.75rem 0;
  text-decoration: none;
  color: black;
  font-family: var(--title-font);
  border-top: 1px solid #eee;
}

@media (max-width: 771px) {
  .desktop-menu {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .mobile-nav-wrapper {
    display: flex;
  }
}

@media (min-width: 771px) {
  .mobile-nav-wrapper {
    display: none;
  }
}

/* HOMEPAGE FORMATTING */
/* DESKTOP HOMEPAGE */

.homepage-section {
border-top: 0.0625rem solid black;  
}
.homepage-section {
  padding: 0;
  grid-column: content-start / content-end;
}
.homepage-section:first-of-type {
  display: flex;
  font-family: var(--title-font);
  font-style: italic;
  font-size: 2.1rem;
  font-weight: 10;
  flex-direction: column;
  align-items: center;       
  justify-content: center;   
  text-align: center;        
  border-bottom: 0.0625rem solid grey;
  border-top: 0.0625rem solid grey; 
  padding: 3rem 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
} 
.homepage-section:first-of-type p {
  margin-top: 0rem;
  margin-bottom: 0.1rem;
}
.homepage-tags ul {
  display: flex;
  list-style: none;
  font-family: var(--title-font);
  letter-spacing: 0.0625rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  margin: 0;
  gap: 1rem;
  justify-content: center;
  font-size: 1.0625rem;
  color: #555;
}

.homepage-tags li::before {
  content: "";
  margin: 0;
}

.homepage-tags li:nth-child(2)::before,
.homepage-tags li:nth-child(3)::before {
  content: "•";
  color: #999;
  margin: 0 1rem;
  padding-right: 1rem;
}

.image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: auto;
  border-top: none;
  object-fit: cover;
  margin-bottom: 2rem
}
.image-banner img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.homepage-section:nth-of-type(4) {
  display: flex;
  font-family: var(--title-font);
  font-style: italic;
  font-size: 2.2rem;
  font-weight: 10;
  flex-direction: column;
  align-items: center;       
  justify-content: center;   
  text-align: center;        
  border-bottom: 0.0625rem solid grey;
  border-top: 0.0625rem solid grey; 
  padding: 3rem 2rem;
  line-height: 1rem;
  margin-bottom: 2rem;
}
  
  
.overlay-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem 2rem;
  border-radius: 0.5000rem;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 3rem 1rem;
  grid-column: content-start / content-end;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.home-btn {
  background-color: white;
  color: black;
  font-family: var(--title-font);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.home-btn:hover {
  background-color: black;
  color: white;
}


/* Mobile HOMEPAGE */

@media (max-width: 900px){
.homepage-section:first-of-type {
  font-size: 1.4rem;
  padding: 2rem 1rem;
  line-height: 1.5;
}

.homepage-tags {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2.5rem;
  padding-top: 1rem;
}

.homepage-tags ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .9rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.homepage-tags li {
  position: relative;
  font-family: var(--title-font);
  font-size: 1.1rem;
  text-align: center;
}

.homepage-tags li::before {
  content: none !important;
}

.homepage-tags li:not(:last-child)::after {
  content: "•••";
  display: block;
  letter-spacing: 1rem;
  font-size: .6em;
  color: #999;
  margin: 0.7rem auto 0; /* space above dot, center dot */
  line-height: 1;
  padding-top: .6rem;
  padding-bottom: .1rem;
}

.homepage-section:nth-of-type(4){
  font-size: 1.4rem;
  line-height: 1.5
}

.homepage-section:nth-of-type(4) p {
  margin-top: .3rem;
  margin-bottom: .3rem;
}

}

@media (max-width: 870px){

.home-buttons {
  flex-direction: column;
  align-items: center;
  gap: 2rem
}

.home-btn {
  width: 60%;
  max-width: 290px !important;
  text-align: center;
}

}

/*FOOTER FORMATTING  */

footer {
  color: grey;
  font-size: 0.6250rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  flex-direction: column; /* Optional: stack elements vertically */
}

/* ABOUT PAGE FORMATTING */

.about-top-row,
.about-bottom-row {
grid-column: content-start / content-end;
padding: 0rem 0rem;
text-align: center;
}

.about-top-row{
font-family: var(--title-font);
font-size: 2.1875rem;
color: rgb(101, 99, 99);
font-style: italic;
font-weight: 10;
border-top: 0.0625rem solid grey; 
border-bottom: 0.0625rem solid grey;
}

.about-eric {
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: auto auto;
padding-top: 6rem;
padding-bottom: .5rem;
column-gap: 0rem;
align-items: top;
/* border-bottom: 0.0625rem dotted grey; */
}

.about-ben {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  column-gap: 0rem;
  align-items: top;
  border-bottom: 0.0625rem dotted grey;
  }

.about-image-eric {
  display: flex;
  align-items: center;
  justify-content: left;  
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 50rem;
  padding-bottom: 2rem;
}

.about-image-ben {
  display: flex;
  align-items: center;
  justify-content: left;  
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 50rem;
  padding-bottom: 2rem;
}

.about-image-ben img {
  width: 77%;
  max-width: none; 
  height: auto;
  border-radius: 0;

}

.about-image-eric img {
  width: 75%;
  max-width: none; 
  height: auto;
  border-radius: 0;

}

.about-bio {
font-family: var(--title-font);
font-size: 1.0625rem;
line-height: 1.6;
padding: 0;
justify-content: left;
align-items: top;

}

.about-bio h1{
font-family: var(--title-font);
font-weight: 100;
font-style: italic;
font-size: 1.6rem;
line-height: 1.6;
padding: 0;
border-bottom: 1px solid rgb(40, 39, 39);
display: inline;
color: rgb(101, 99, 99);
  
}

.about-name {
display: flex;
font-family: var(--title-font);
font-size: 1.5rem;
font-weight: 100;
font-style: italic;
padding-top: 1rem;
padding-bottom: 1.5rem;
align-content: center;
}


.about-colophon h1 {
display: flex;
font-family: var(--title-font);
font-size: 1.5625rem;
font-weight: 10;
font-style: italic;
color: rgb(101, 99, 99);
text-align: left;

}

.about-colophon p {
font-family: var(--title-font);
font-size: 1.0625rem;
margin: 0;
color: black;
line-height: 1.6;
}

/* MOBILE ABOUT PAGE */

@media (max-width: 900px) {
  
  .about-eric{
    padding-top: 3rem;
    padding-bottom: 0;
  }
  
  .about-eric, .about-ben {
    grid-template-columns: 1fr;
  }
  
  .about-colophon{
    padding-top: 1rem
  }
  
  .about-colophon h1{
    display: block;
    text-align: center !important;
    margin: .4em;
    padding-bottom: .5em;
  }
  
  .about-bio,
  .about-colophon p {
    font-size: 1.0000rem;
    text-align: left;
  }
  
  .about-image-eric, .about-image-ben {
    width: 100%;
    text-align: center;
    display: block;
    padding-bottom: 1.5rem;
    
  }
  
  .about-image-eric img,.about-image-ben img  {
    max-width: 250px !important;
    height: auto;
    display: block;
    margin: 0 auto !important;
    border-radius: 10rem; /* Or try 8px, 10px, etc. */
  
    /* aspect-ratio: 5 / 7;         
    border-radius: 100%;   */
  }
  
  .about-top-row,
  .about-bottom-row {
    font-size: 1.7500rem;
  }
}


/* "MY APPROACH" Page Formatting */

.approach-title-row {
text-align: center;
font-family: var(--title-font);
font-size: 2.1875rem;
color: rgb(101, 99, 99);
font-style: italic;
font-weight: 10;
border-top: 0.0625rem solid grey; 
border-bottom: 0.0625rem solid grey;
}

.approach-intro-row {
display: flex;
font-size: 1.1250rem;
font-family: var(--title-font);
line-height: 1.6;
align-items: center;
padding-top: 3rem;
padding-bottom: 1rem
}

.approach-grid {
grid-column: content-start / content-end;
display: flex;
flex-direction: column;
gap: .5rem;
padding: 0;
padding-top: 2rem
}

.approach-pair {
display: grid;
grid-template-columns: 1fr 1.9fr;
gap: 1rem;
border-bottom: 0.0625rem dotted grey;
align-items: center;
padding-top: 0;
}

.approach-pair .left{
display: flex;
font-family: var(--title-font);
font-size: 1.8750rem;
font-style: italic;
color: rgb(101, 99, 99);
text-align: left;
align-items: center;
}

.approach-pair .right{
font-family: var(--title-font);
font-size: 1.1250rem;
text-align: left;
line-height: 1.6;
padding-bottom: 1.5rem
}

/* Mobile APPROACH */

@media (max-width: 900px){

  .approach-intro-row {
    font-size: 1rem;
    padding-bottom: 0 !important;
  }
  
  .approach-intro-row p, .approach-pair .right p {
    text-indent: 1.5rem;
  }
  
  .approach-pair {
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  .approach-pair .left {
    font-size: 1.3750rem;
    justify-content: center;
    padding-bottom: 0;
  }
  
  .approach-pair .left p {
    border-bottom: 1px solid grey;
  }
  
  .approach-pair .right {
    font-size: 1.0000rem;
  }
  
  .approach-title-row {
    font-size: 1.7500rem;
  }
  }
  

/* "SERVICES" page formatting */

.services-title-row {
text-align: center;
font-family: var(--title-font);
font-size: 2.1875rem;
color: rgb(101, 99, 99);
font-style: italic;
font-weight: 10;
border-top: 0.0625rem solid grey; 
border-bottom: 0.0625rem solid grey;
}

.services-intro{
  font-family: var(--title-font);
  font-size: 1.0625rem;
  padding-top: 3rem;
  padding-bottom: .5rem;
  line-height: 1.6 
}

.services-intro a{
  font-family: var(--title-font);
  font-size: 1.0625rem;
  line-height: 1.6;
  font-style: italic;
  color: black;
  font-weight: bold;
}

.services-offering-row {
font-family: var(--title-font);
padding-top: 0;
border-bottom: 0.0625rem dotted grey;
padding-bottom: 2rem
}

.services-offering-row h1{
font-weight: 100;
font-style: italic;
padding-top: 1.5rem
}

.services-offering-row p{
font-size: 1.0625rem;
padding-top: .5rem;
padding-bottom: 1rem;
line-height: 1.6 
}

.services-button-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-top: 0rem;
}

.services-button {
  background-color: white;
  color: black;
  font-family: var(--title-font);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease;

}

.services-button:hover {
  background-color: black;
  color: white;
}

.services-pricing-row {
font-family: var(--title-font);
padding-top: 2rem;
line-height: 1.6;
}

.services-pricing-row h1{
font-weight: 100;
font-style: italic
}

/* Mobile SERVICES */

@media (max-width: 900px) {
  .services-title-row {
    font-size: 1.7500rem;
  }
  
  .services-pricing-row h1 {
    padding-bottom: .7rem;
  }
  
  .services-offering-row p,
  .services-pricing-row p {
    font-size: 1.0000rem;
  }
  
  .services-pricing-row p:nth-of-type(4) {
    padding-bottom: 1.5rem;
  }
  
  .services-button-container{
    padding-bottom: 2rem;
    padding-top: 1rem
  }
  }

/* "CONTACT" page formatting */

.contact-title-row {
text-align: center;
font-family: var(--title-font);
font-size: 2.1875rem;
color: rgb(101, 99, 99);
font-style: italic;
font-weight: 10;
border-top: 0.0625rem solid grey; 
border-bottom: 0.0625rem solid grey;
}

.contact-intro {
  text-align: center;
  font-family: var(--title-font);
  font-size: 1.1rem;
  color: black;
  margin-bottom: 1.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  grid-column: content-start / content-end;
  margin-top: 2rem;
  line-height: 1.6
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 1rem;
  grid-column: content-start / content-end;
}

.contact-btn {
  background-color: white;
  color: black;
  font-family: var(--title-font);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: black;
  color: white;
}

/* MOBILE OPTIMIZATION*/

@media (max-width: 1100px) {
body {
  grid-template-columns:
    [content-start] 1rem
    minmax(0, 1fr)
    1rem [content-end];
  row-gap: 1.5rem;
  margin: 1em
}

:root {
  --page-width: 100%;
}
}

/* Mobile CONTACT */

@media (max-width: 900px){
.contact-title-row {
  font-size: 1.7500rem;
}

.contact-intro{
  font-size: 1rem;
  text-align: left !important;
  padding-top: 1rem;
}

.contact-buttons {
    flex-direction: column;
    align-items: center;
  }

.contact-btn {
    width: 100%;
    max-width: 300px; /* optional: keeps buttons from being too wide */
    text-align: center;
}

/* Mobile footer */
footer {
  font-size: 0.6250rem;
  padding: 1rem;
  text-align: center;
}
}

