{{ define "main" }}

<section class="homepage-section">
  <p>High-Quality College Essay Editing and Advising</p>
</section>

<section class = "homepage section homepage-tags">
  <ul>
    <li>All Applications</li>
    <li>Supplemental Materials</li>
    <li>Scholarship Essays</li>
  </ul>
</section>

<section class="homepage-section image-banner">
    <img src="images/Yale From Above.jpg" alt="Yale Campus" class="full-width-image">
</section>

<section class="home-buttons">
  <a href="mailto:eric@essaycraftadvising.com, ben@essaycraftadvising.com" class="home-btn">EMAIL US</a>
  <a href="https://tally.so/r/nP4p40" target="_blank" class="home-btn">SUBMIT AN ESSAY</a>

</section>

{{ end }}
