{{ define "main" }}
<section class="approach-title-row">
  <p>Our Approach</p>
</section>

<section class="approach-intro-row">
<p>All students&mdash;and all essays&mdash;are different, so we personalize our feedback and do not force essays to conform to a rigid framework.
  The key to our success is our three step approach which in includes a conversation to get to know you as a person and applicant, 
  a developmental edit to refine and encourage the most compelling ideas in your essay, and a polish edit to ensure everything flows 
  smoothly. Throughout this process, we always focus on three criticial areas: 
</p>
</section>

<section class="approach-grid">
  <div class="approach-pair">
    <div class="left">
      <p>Narrative</p>
    </div>
    <div class="right">
      <p>The ultimate goal of a college essay is to tell a story that communicates a compelling message about who you are and what you value.
        It is your only opportunity to speak to an admissions officer in your own voice, on a topic you can choose. The stakes are high, so you need to be intentional about what you say and how you say it. As your advisors, 
        our top priority is to ensure your message is powerful, clear, and well-structured, so it leaves a positive 
        and lasting impression.</p>
    </div>
  </div>


  <div class="approach-pair">
    <div class="left">
      <p>Authenticity</p>
    </div>
    <div class="right">
      <p>The best admissions essays are original, honest, and written in your own voice.
        Our goal is never to micromanage your content choices or write your essay for you. Instead, our
        feedback clearly guides you towards the most polished and effective version of your work, so you end up with a
        strong essay that you are proud to have written.</p>
    </div>
  </div>

  <div class="approach-pair">
    <div class="left">
      <p>Style</p>
    </div>
    <div class="right">
      <p>
        Most admissions essays will be no more than a single-spaced page in length. With so little space, it's important that
        your writing is clear, concise, and purposeful. We will help you refine your language and mechanics to ensure your essay 
        is clean and engaging from start to finish—and that nothing distracts from the message you're trying to convey. This includes 
        sharpening sentence structure, eliminating clutter, fixing  punctuation and grammar, and ensuring your narrative flows naturally 
        and easily.</p>
    </div>
  </div>

<section class="about-bottom-row">
</section>
{{ end }}


