{{ define "main" }}
<section class="contact-title-row">
  <p>Contact</p>
</section>

<section class="contact-intro">
    <p>We would love to hear from you. If you're ready to get started or just have a few questions, 
        please email us 
        or follow the links below.</p>
</section>

<section class="contact-buttons">
    <a href="mailto:inquiries@essaycraftadvising.com" class="contact-btn">Email us</a>
    <a href="https://tally.so/r/nP4p40" target="_blank" class="contact-btn secondary">SUBMIT AN ESSAY</a>
    <a href="mailto: eric@essaycraftadvising.com, ben@essaycraftadvising.com" target="_blank" class="contact-btn secondary">SCHEDULE A MEETING</a>

</section>

{{ end }}

